﻿@using WebUI.Helper
@{
  Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")

    <script src="http://vk.com/js/api/openapi.js" type="text/javascript"> </script>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ko")
    @Scripts.Render("~/bundles/pagerjs")
    @Scripts.Render("~/bundles/mousetrap")

    @*@Scripts.Render("~/bundles/jplayer")
    @Scripts.Render("~/bundles/jPlayerScripts")
    @Scripts.Render("~/bundles/vk")
    @Scripts.Render("~/bundles/initSiteJS")
    @Scripts.Render("~/bundles/common")*@



    @* Note: scripts for debug *@
    <script src="@Url.Content("~/Scripts/jPlayer.2.6.0/jquery.jplayer.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jPlayer.2.6.0/jplayer.playlist.min.js")"></script>
    <script src="@Url.Content("~/Scripts/AudioPlayer/jPlayer.js")"></script>

    <script src="@Url.Content("~/Scripts/Vk/vkUser.js")"></script>
    <script src="@Url.Content("~/Scripts/Vk/vkAudio.js")"></script>
    <script src="@Url.Content("~/Scripts/Vk/vkPlaylists.js")"></script>
    <script src="@Url.Content("~/Scripts/Vk/vkSharing.js")"></script>
    <script src="@Url.Content("~/Scripts/Vk/vkExport.js")"></script>

    <script src="@Url.Content("~/Scripts/InitSiteJS/init.js")"></script>

    <script src="@Url.Content("~/Scripts/Common/vplaylisteCore.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/ajaxLoadingPopup.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/errorDialog.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/confirmDialog.js")"></script>
    <script src="@Url.Content("~/Scripts/DialogMaster/dialog-master.js")"></script>

    <!-- URLs -->
    <script>
        hrefHash = '#!/'
        var vkMusicUrls = {
            startPage: hrefHash + 'start',
            homePage: hrefHash + 'start/home',
            search: hrefHash + 'start/audioSearch',
            sharedPage: hrefHash + 'start/sharedPlaylist',
            viewPlayListInfo: hrefHash + 'start/viewPlaylist',
            playLists: hrefHash + 'start/viewPlaylists',
            editPlayList: hrefHash + 'start/editPlaylist',
            getSharedPlaylistApiController: '/api/' + '@Url.Content(NameHelper.GetSharedPlaylistNameHelper.Controller)',
            playListApiController: '/api/' + '@Url.Content(NameHelper.PlayListNameHelper.Controller)',
            addAudioTrackController: '/api/' + '@Url.Content(NameHelper.AudioTrackNameHelper.Controller)',
            deletePlayListApiController: '/api/' + '@Url.Content(NameHelper.DeletePlayListNameHelper.Controller)',
            deleteAudioTrackApiController: '/api/' + '@Url.Content(NameHelper.DeleteAudioTrackNameHelper.Controller)',
            editPlayListController: '/api/' + '@Url.Content(NameHelper.EditPlayListNameHelper.Controller)',
            uploadVkPhotoController: '/api/' + '@Url.Content(NameHelper.UploadVkPhotoNameHelper.Controller)',
            updateTrackController: '/api/' + '@Url.Content(NameHelper.UpdateTrackNameHelper.Controller)'
        };

        window.onerror = function () {
            console.log("----- Error -----\n");
            console.dir(arguments);
            console.log(arguments[0] + "\n" + arguments[1] + ":" + arguments[2] + "\n----- Error -----\n");
            showDialogMasterError('Произошла ошибка. Перезагрузите страницу пожалуйста. </br>' + arguments[0]);
            return true;
        };

        var sharedId = '@ViewBag.sharedId';
        var MaxTracksCount = '@ViewBag.maxTracksCount';
        var MaxPlaylistsCount = '@ViewBag.maxPlaylistsCount';

        var vplaylisteLogo = "@Url.Content("~/Content/images/vplayliste_logo_small.png")"
    </script>
    <!-- URLs -->
</head>
<body>
    <!-- Google Tag Manager -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-64348807-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Tag Manager -->

    <!---------------------- TEMPLATES ------------------------------------------->
    @Html.Partial(@Url.Content("~/Views/Shared/VkMusicTemplates/_NotAuthorizedPage.cshtml"))
    @Html.Partial(@Url.Content("~/Views/Shared/VkMusicTemplates/_UserInfoPage.cshtml"))
    @Html.Partial(@Url.Content("~/Views/Shared/VkMusicTemplates/_AudioSearch.cshtml"))
    @Html.Partial(@Url.Content("~/Views/Shared/VkMusicTemplates/_NavigateBar.cshtml"))
    @Html.Partial(@Url.Content("~/Views/Shared/VkMusicTemplates/_JPlayer.cshtml"))
    @Html.Partial(@Url.Content("~/Views/Shared/VkMusicTemplates/_ViewPlaylists.cshtml"))
    @Html.Partial(@Url.Content("~/Views/Shared/VkMusicTemplates/_ViewPlayListInfo.cshtml"))
    @Html.Partial(@Url.Content("~/Views/Shared/VkMusicTemplates/_AddEditPlayList.cshtml"))
    @Html.Partial(@Url.Content("~/Views/Shared/VkMusicTemplates/_SharedPlaylist.cshtml"))
    @Html.Partial(@Url.Content("~/Views/Shared/VkMusicTemplates/_PlayPauseButtons.cshtml"))
    @Html.Partial(@Url.Content("~/Views/Shared/VkMusicTemplates/_HomePage.cshtml"))
    @Html.Partial(@Url.Content("~/Views/Shared/VkMusicTemplates/_LeftPanel.cshtml"))
    @Html.Partial(@Url.Content("~/Views/Shared/VkMusicTemplates/_AjaxLoading.cshtml"))
    @Html.Partial(@Url.Content("~/Views/Shared/VkMusicTemplates/_ErrorDialog.cshtml"))
    @Html.Partial(@Url.Content("~/Views/Shared/VkMusicTemplates/_ConfirmDialog.cshtml"))
    @Html.Partial(@Url.Content("~/Views/Dialog/DialogMaster.cshtml"))
    <!---------------------- TEMPLATES ------------------------------------------->

    <div id="mainContainer">
        <div id="desktop" class="visible-desktop visible-tablet  col-md-12">
            <div data-bind="page: {id: 'start', title: 'вплейлисте'}">
                <div data-bind="if: vplayliste.vkUser.isAuthorized">
                    <div class="row">
                       <!-- <div class="navbar navbar-inverse navbar-fixed-top" style="min-width: 1024px; background-color: #016677;">-->
                       <header class="header-fixed">
                            <div class="row" data-bind="template: {name: 'tmplUserInfo'}"></div>
                            <div class="row nav-bar col-md-12">
                                <div data-bind="template: {name: 'tmplNavigateBar'}"></div>
                            </div>
                        </header>
                    </div>
                    <div class="row main-page col-md-12">
                        <div class="col-md-3 visible-desktop" style="padding-top: 20px;">
                            <div data-bind="template: {name: 'tmplLeftPanel'}"></div>
                        </div>
                        <div class="col-md-9">
                            <div data-bind="page: {id: 'home', title: 'вплейлисте'}">
                                <div data-bind="template: {name: 'tmplHomePage'}"></div>
                            </div>
                            <div data-bind="page: {id: 'audioSearch', title: 'поиск'}">
                                <div data-bind="template: {name: 'tmplAudioSearch'}"></div>
                            </div>
                            <div data-bind="page: {id: 'viewPlaylists', title: 'мои плейлисты'}">
                                <div data-bind="template: {name: 'tmplViewPlayLists'}"></div>
                            </div>
                            <div data-bind="page: {id: 'viewPlaylist'}">
                                <div data-bind="template: {name: 'tmplViewPlayListInfo'}"></div>
                            </div>
                            <div data-bind="page: {id: 'editPlaylist', title: 'редактирование плейлиста'}">
                                <div data-bind="template: {name: 'tmplAddEditPlayList'}"></div>
                            </div>
                            <div data-bind="page: {id: 'sharedPlaylist', title: 'общий'}">
                                <div data-bind="template: {name: 'tmplSharedPlaylist'}"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12" data-bind="ifnot: vplayliste.vkUser.isAuthorized">
                    <div data-bind="template: {name: 'tmplNotAuthorizedPage'}"></div>
                </div>
            </div>
        </div>
        <div class="visible-phone">
            <h1>Извините. Ресурс недоступен для мобильных платформ.</h1>
        </div>
    </div>
</body>
</html>
