﻿<script type="text/html" id="tmplAddEditPlayList">
    <div>
        <div data-bind="visible: !('Name' in  vplayliste.vkPlaylist.currentPlaylist())">
            <h1 class="title-page">Новый плейлист</h1>
        </div>
        <div data-bind="visible: ('Name' in  vplayliste.vkPlaylist.currentPlaylist())">
            <h1 class="title-page" data-bind="text: vplayliste.vkPlaylist.currentPlaylist().Name"></h1>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <form data-bind="submit: vplayliste.vkPlaylist.addEditPlayList">
                    <div class="form-group">
                        <label>Название: </label>
                        <input type="text" class="form-control" placeholder="название" data-bind="textInput: vplayliste.vkPlaylist.newPlaylistName">
                    </div>
                    <div class="form-group">
                        <label>Ссылка на изображение: </label>
                        <input type="text" class="form-control" placeholder="ссылка на изображение" data-bind="textInput: vplayliste.vkPlaylist.newPlaylistImage">
                    </div>
                    <button class="btn btn-info btn-lg" type="submit">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </form>
            </div>
            <div class="col-md-6" data-bind="if: vplayliste.vkPlaylist.newPlaylistImage().length > 0" >
                <img width="300" class="img-rounded" data-bind="attr: { src: vplayliste.vkPlaylist.newPlaylistImage }" />
            </div>
        </div>
    </div>
</script>