﻿<div class="dialog-master-display-none dialog-master-window" id="loading_container">

    <div id="loading-title" class="dialog-master-title">Загрузка</div>
    <div id="loading-content">
        <img src="@Url.Content("~/Content/images/loader2.gif")" />
    </div>
</div>

<div id="loading_overlay" class="dialog-master-display-none dialog-master-lock-overlay"></div>
