﻿<script type="text/html" id="tmplAudioSearch">
  <div>
    <h1 class="title-page" data-bind="text: vplayliste.vkAudio.typeOfSearch"></h1>

    <div class="row">
      <div class="col-md-4">
        <form class="form-inline">
          <span class="form-group">
            <label class="search-labels">Поиск по тексту</label>
            <input type="text" class="form-control" placeholder="поиск" data-bind="textInput: vplayliste.vkAudio.searchText">
            <button class="btn btn-info" data-bind="click: vplayliste.vkAudio.searchAudio">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </form>
      </div>

      <div class="col-md-4">
        <form class="form-inline">
          <label class="search-labels">Музыка с моей страницы</label>
          <button class="btn btn-info" data-bind="click: vplayliste.vkAudio.getUserAudioList"> Моя музыка </button>
        </form>
      </div>

      <div class="col-md-4">
        <form class="form-inline">
          <span class="form-group">
            <label class="search-labels">Музыка из поста</label>
            <input type="text" class="form-control" placeholder="ссылка на пост" data-bind="textInput: vplayliste.vkSharing.wallPostUrl">
            <button class="btn btn-info" data-bind="click: vplayliste.vkSharing.getTracksFromPost">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </form>
      </div>

     </div>
        <br/>
        <table class="table table-hover playlist">
            <tbody data-bind="foreach: { data: vplayliste.vkAudio.searchResult, as: 'track' }">
                <tr data-bind="css: {currenttrackrow: $index() == vplayliste.jPlayer.currentIndex() }, attr: { name: 'track_' + $data.aid }">
                    <td>
                        <div data-bind="template: {name: 'tmplPlayPauseButtons'}"></div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" data-bind="foreach: vplayliste.vkPlaylist.playLists">
                                <li><a href="#" data-bind="click:function() { vplayliste.vkAudio.addToPlaylist(track, $data) }, text: $data.Name">Action</a></li>
                            </ul>
                        </div>
                    </td>
                    <td data-bind="if: vplayliste.vkUser.downloadAccess">
                        <button class="btn btn-info" data-bind="click: vplayliste.vkAudio.downloadTrack.bind(track, $index())">
                            <span class="glyphicon glyphicon-download"></span>
                        </button>
                    </td>
                    <td style="padding-left: 30px;">
                        <!-- ko ifnot: vplayliste.vkUser.downloadAccess -->
                        <span class="track-artist" data-bind="text: $data.artist"></span>
                        -
                        <span class="track-title" data-bind="text: $data.title"></span>
                        <!-- /ko -->
                        <!-- ko if : vplayliste.vkUser.downloadAccess -->
                        <a data-bind="attr: { href: $data.url }">
                            <span class="track-artist" data-bind="text: $data.artist"></span>
                            -
                            <span class="track-title" data-bind="text: $data.title"></span>
                        </a>
                        <!-- /ko -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>