﻿@*<div class="display-none dialog-window" id="confirm-dialog-container">

  <div id="confirm-dialog_title" class="dialog-header">Title</div>
  <div id="confirm-dialog_content" class="dialog-content">
    <div id="confirm-dialog_image-container">
      <img id="confirm-dialog_image" style="max-height: 300px; max-width: 500px;" />
    </div>
    <div id="confirm-dialog_message"></div>
    <div>
      <input id="confirm-dialog_textinput" type="text" />
    </div>
    <div class="dialog-buttons-container">
      <input type="button" class="btn btn-info dialog-button" value="Ok" id="confirm-dialog_button_ok" />
      <input type="button" class="btn btn-info dialog-button" value="Cancel" id="confirm-dialog_button_cancel" />
    </div>
  </div>
</div>

<div id="confirm-dialog_overlay" class="display-none lock-overlay"></div>*@
