﻿@*<div class="display-none dialog-window" id="dialog-container">

    <div id="dialog_title" class="dialog-header">Title</div>
    <div id="dialog_content" class="dialog-content">
        <div id="dialog_message" style="color: black;"></div>
        <div class="dialog-buttons-container">
          <input type="button" class="btn btn-info" value="Ok" id="dialog_button" />
        </div>
    </div>
</div>

<div id="dialog_overlay" class="display-none lock-overlay"></div>*@
