﻿<script type="text/html" id="tmplHomePage">

    <h1 class="title-page">Добро пожаловать!</h1>

    <div style="font-size: 18px;">
        <p>
            Перед Вами ресурс, который позволит Вам слушать музыку из vk.com не заходя на сайт социальной сети.
        </p>

        <div>
            ДОСТОИНСТВА РЕСУРСА:
            <ul>
                <li>Легко создавать и использовать плейлисты;</li>
                <li>Возможность делиться плейлистами (пост на Вашу стену или пост на стену Ваших групп);</li>
                <li>
                    Удобный поиск музыки. Вы можете использовать Вашу музыку из ВК. Вы можете искать треки по ключевому слову.
                    Вы можете вставить ссылку на пост из ВК, который содержит треки;
                </li>
                <li>При прослушивании музыки Вас никто не беспокоит сообщениями в ВК;</li>
                <li>Вы можете предлагать пути развития ресурса. Введение нового функционала и тд.</li>
            </ul>
        </div>
    </div>
</script>