﻿<script type="text/html" id="tmplNavigateBar">
    <div class="player-side">
        <div data-bind="template: { afterRender: vplayliste.loadUserData, name: 'tmplJPlayer'}"></div>
    </div>

    <div class="nav-center-buttons">
        <a class="btn btn-info" data-bind="click: vplayliste.vkAudio.redirectAndCleanSearchResult">Поиск музыки</a>
        <a class="btn btn-info" href="javascript:;" onclick="vplayliste.redirectToPage(vkMusicUrls.playLists)">Мои плейлисты</a>
    </div>

</script>