﻿<script type="text/html" id="tmplNotAuthorizedPage">
    <div class="row">
        <div class="col-md-8">
            <img width="500" src="@Url.Content("~/Content/images/vplayliste_logo.png")" />
            <br />
            <h1>
                Вход в систему:
                <button class="btn btn-info" data-bind="click: vplayliste.vkUser.login"> Войти </button>
            </h1>
        </div>
        <div class="col-md-4">
            <h2>
                ВНИМАНИЕ!!! Разрешите вашему браузеру использовать плагин, чтобы
                войти в систему!
            </h2>

            google chrome:
            <img width="350" src="@Url.Content("~/Content/images/allow_plugin_chrome.png")" />
            <br/>
            <br/>
            mozilla firefox:
            <img width="350" src="@Url.Content("~/Content/images/allow_plugin_mozilla.png")" />
        </div>
    </div>

</script>