﻿<script type="text/html" id="tmplPlayPauseButtons">

    <div data-bind="ifnot: $index() == vplayliste.jPlayer.activeTrack() ">
        <button class="btn btn-info" data-bind="click: function(){ vplayliste.jPlayer.playSelectedTrack($index(), $data) }">
            <span class="glyphicon glyphicon-play"></span>
        </button>
    </div>
    <div data-bind="if: $index() == vplayliste.jPlayer.activeTrack()">
        <button class="btn btn-info" data-bind="click: function(){vplayliste.jPlayer.mainPlayer.pause()}">
            <span class="glyphicon glyphicon-pause"></span>
        </button>
    </div>

</script>