﻿<script type="text/html" id="tmplSharedPlaylist">
    <div data-bind="if: vplayliste.vkSharing.sharedPlaylistId() > 0">
        <h1 class="title-page">
            <span>Общий плейлист: </span>
            <span data-bind="text: vplayliste.vkPlaylist.currentPlaylist().Name"></span>
            <br/>
            <br/>
            <img class="playlist-image img-rounded" data-bind="attr: { src: vplayliste.vkPlaylist.getImageUrlOrDefault(vplayliste.vkPlaylist.currentPlaylist().Image) }" />
        </h1>    
        <br/>

        <div class="title-page">
            <button class="btn btn-info" data-bind="click: vplayliste.vkSharing.savePlayList"> Сохранить как мой плейлист </button>
        </div>

        <br/>
        <table class="table playlist">
            <tbody data-bind="foreach: { data: vplayliste.vkPlaylist.currentPlaylist().AudioTracks, as: 'track'}">
                <tr data-bind="css: {currenttrackrow: $index() == vplayliste.jPlayer.currentIndex() }, attr: { name: 'track_' + $data.VkTrackId() }">
                    <td>
                        <div data-bind="template: {name: 'tmplPlayPauseButtons'}"></div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" data-bind="foreach: vplayliste.vkPlaylist.playLists">
                                <li><a href="#" data-bind="click:function() { vplayliste.vkAudio.addToPlaylist(track, $data) }, text: $data.Name">Action</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <span class="track-artist" data-bind="text: $data.Artist"></span>
                        -
                        <span class="track-title" data-bind="text: $data.Title"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>