﻿<script type="text/html" id="tmplUserInfo">

    <div data-bind="visible: vplayliste.vkUser.isAuthorized">
        <div class="vplayliste-header">
            <img src="@Url.Content("~/Content/images/vplayliste-header.PNG")" onclick="vplayliste.redirectToPage(vkMusicUrls.homePage)"/>
        </div>
        <div class="header-block">
            <img class="img-circle solo-item" data-bind="attr: { src: vplayliste.vkUser.photo }" />
            <span class="solo-item full-name" data-bind="text: vplayliste.vkUser.fullName"></span>
            <button class="btn btn-info solo-item" data-bind="click: vplayliste.vkUser.logout"> Выход </button>
        </div>
    </div>
</script>