﻿<script type="text/html" id="tmplViewPlayListInfo">

    <div data-bind="visible: 'Name' in  vplayliste.vkPlaylist.currentPlaylist()">
        <h1 class="title-page">
            <span>Плейлист: </span>
            <span data-bind="text: vplayliste.vkPlaylist.currentPlaylist().Name"></span>
        </h1>
        <div class="title-page">
            <img class="playlist-image img-rounded" data-bind="attr: { src: vplayliste.vkPlaylist.getImageUrlOrDefault(vplayliste.vkPlaylist.currentPlaylist().Image) }" />
        </div>
        <br/>
        <div class="title-page track-title">
            Количество треков:
            <span data-bind="text: vplayliste.vkPlaylist.getAudioTracksCountInCurrentPlaylist"></span>
        </div>
        <br/>
        <div data-bind="if: vplayliste.vkPlaylist.currentPlaylistHasTracks">
            <button class="btn btn-info" data-bind="click: vplayliste.vkPlaylist.postPlayListOnWall"> Пост на мою стену </button>

            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    Пост в мою группу
                </button>
                <ul class="dropdown-menu" role="menu" data-bind="foreach: vplayliste.vkPlaylist.userGroups">
                    <li><a href="#" data-bind="click:function() { vplayliste.vkPlaylist.postPlayListOnWall($data.id) }, text: $data.name">Action</a></li>
                </ul>
            </div>

            <!-- ko if: vplayliste.vkUser.exportAccess -->
            <button class="btn btn-info" data-bind="click: vplayliste.vkPlaylist.exportInVk"> Экспорт в ВК </button>
            <!-- /ko -->
            <div>
                ссылка на плейлист:
                <span style="color: #00B1D3; font-size: 16px; font-weight: bold;" data-bind="html: vplayliste.vkPlaylist.currentPlaylistLink()"></span>
            </div>
            <br/>
        </div>
        <table class="table table-hover playlist">
            <tbody data-bind="foreach: {data: vplayliste.vkPlaylist.currentPlaylist().AudioTracks, as: 'track'}">
                <tr data-bind="css: {currenttrackrow: $index() == vplayliste.jPlayer.currentIndex() }, attr: { name: 'track_' + $data.VkTrackId() }">
                    <td>
                        <div data-bind="template: {name: 'tmplPlayPauseButtons'}"></div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" data-bind="foreach: vplayliste.vkPlaylist.playLists">
                                <li><a href="#" data-bind="click:function() { vplayliste.vkAudio.addToPlaylist(track, $data) }, text: $data.Name">Action</a></li>
                            </ul>
                        </div>
                    </td>
                    <td data-bind="if: vplayliste.vkUser.downloadAccess" >
                        <button class="btn btn-info" data-bind="click: vplayliste.vkAudio.downloadTrack.bind(track, $index())">
                            <span class="glyphicon glyphicon-download"></span>
                        </button>
                    </td>
                    <td>
                        <!-- ko ifnot: vplayliste.vkUser.downloadAccess -->
                        <span class="track-artist" data-bind="text: $data.Artist"></span>
                        -
                        <span class="track-title" data-bind="text: $data.Title"></span>
                        <!-- /ko -->
                        <!-- ko if : vplayliste.vkUser.downloadAccess -->
                        <a data-bind="attr: { href: $data.Url }" >
                            <span class="track-artist" data-bind="text: $data.Artist"></span>
                            -
                            <span class="track-title" data-bind="text: $data.Title"></span>
                        </a>
                        <!-- /ko -->
                    </td>
                    <td>
                        <button class="btn btn-info" data-bind="click: vplayliste.vkAudio.removeAudioTrack">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-info display-none" data-bind="click: vplayliste.vkPlaylist.updateTrack, attr: { name:'track_' + $data.VkTrackId() + '_update' }">
                           <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>