﻿<script type="text/html" id="tmplViewPlayLists">
    <h1 class="title-page">
        Мои плейлисты
        <button class="btn btn-info btn-lg" data-bind="click: vplayliste.vkPlaylist.redirectToEditPlaylistPage">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </h1>

    <table class="table table-hover playlist">
        <tbody data-bind="foreach: { data: vplayliste.vkPlaylist.playLists, as: 'playList'}">
            <tr class="cursor-pointer">
                <td data-bind="click: vplayliste.vkPlaylist.viewPlayList">
                    <img class="img-circle playlist-image-small" data-bind="attr: { src: vplayliste.vkPlaylist.getImageUrlOrDefault($data.Image) }" />
                </td>
                <td class="playlist-name" data-bind="text: $data.Name, click: vplayliste.vkPlaylist.viewPlayList"></td>
                <td>
                    <button class="btn btn-info btn-lg" data-bind="click: vplayliste.vkPlaylist.redirectToEditPlaylistPage">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-info btn-lg" data-bind="click: vplayliste.vkPlaylist.removePlayList">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</script>