﻿/* Dialog master */
.dialog-master-window {
  position: fixed;
  overflow: hidden;
  z-index: 99999;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  top: 35%;
  left: 50%;
  max-width: 700px;
}

.dialog-master-title {
  outline: none;
  border: 1px solid #999;
  overflow: hidden;
  padding: 5px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  background-color: #016677;
  color: white;
  text-align: center;
}

.dialog-master-content {
  outline: none;
  overflow: auto;
  text-align: left;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  border-top: none;
  min-width: 300px;
  text-align: center;
  color: black;
  font-size: 20px;
}

.dialog-master-buttons-container {
  margin-top: 30px;
  bottom: 10px;
  text-align: center;
}

.dialog-master-button {
  min-width: 70px;
}

.dialog-master-lock-overlay {
  position: absolute;
  z-index: 99998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #BCDCF5;
  opacity: 0.4;
}

.dialog-master-display-none {
  display: none;
}
