﻿body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

.header-block {
  text-align: right;
  margin-right: 50px;
}

.nav-bar {
  background: inherit;
  min-width: 950px;
  width: 105%;

  background-image: -webkit-linear-gradient(#016677, #194B56 60%, #001D26);
  background-image: -o-linear-gradient(#016677, #194B56 60%, #001D26);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#016677), color-stop(60%, #194B56), to(#001D26));
  background-image: linear-gradient(#016677, #194B56 60%, #001D26);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff74cae3', endColorstr='#ff4ab9db', GradientType=0);
  -webkit-filter: none;
          filter: none;
}

.vplayliste-header {
  text-align: left;
  float: left;
  padding-left: 50px;
  font-size: 48px;
}

.solo-item {
  margin-left: 20px;
  margin-right: 20px;
}

.title-page {
  text-align: center;
}

.full-name {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-center-buttons {
  text-align: center;
}


.main-page {
  margin-top: 120px;
}

.jp-interface {
  position: fixed;
}

.player-side {
  float: left;
  background: #CCC;
  width: 640px;
  padding-left: 15px;
  padding-top: 10px;
  background-color: inherit;
  margin-left: 20px;
}

.currenttrackrow {
  background-color: #007990 !important;
  color: white;
}

.accessDenyTrackrow {
  background-color: red !important;
  color: white;
}

.validationMessage {
  color: #FF4500;
  font-size: 16px;
}

.customMessage {
  color: #FFA500;
}

.track-artist {
  font-weight: bold;
  font-size: 16px;
}

.track-title {
  font-style: italic;
  font-size: 16px;
}

.playlist-name {
  font-weight: bold;
  font-size: 22px;
}

.cursor-pointer {
  cursor: pointer;
}

.playlist-image {
  max-height: 500px;
  max-width: 500px;
}

.playlist-image-small {
  max-width: 150px;
  height: 100px
}

.error {
  color: #FF4500;
  font-size: 22px;
  font-weight: bold;
}

.search-labels {
  font-size: 14px;
}

/* custom pop up*/
/*
.dialog-window {
  position: fixed;
  overflow: hidden;
  z-index: 99999;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  top: 35%;
  left: 50%;
  max-width: 700px;
}

.dialog-header {
  outline: none;
  border: 1px solid #999;
  overflow: hidden;
  padding: 5px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  background-color: #016677;
  color: white;
  text-align: center;
}

.dialog-content {
  outline: none;
  overflow: auto;
  text-align: left;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  border-top: none;
  min-width: 300px;
  text-align: center;
  color: black;
  font-size: 20px;
}

.dialog-buttons-container {
  margin-top: 30px;
  bottom: 10px;
  text-align: center;
}

.dialog-button {
  min-width: 70px;
}

.lock-overlay {
  position: absolute;
  z-index: 99998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #BCDCF5;
  opacity: 0.4;
}
*/

.display-none {
  display: none;
}

header,footer {
  width: 103%;
  height: auto;
  background: #016677;
  position: fixed;
  color: #fff;
  text-align: center;
  font-size: 50px;
  z-index: 100;
  min-width: 950px;
}
.header-fixed {
  top:0px;    
}
.footer-fixed {
  bottom:0px; 
  margin-top:100px;
}

.playlist{
  background: #0A2F39;
}

.track-deny{
  background-color: #8E3D3D !important;
}