﻿@model IEnumerable<WebUI.Models.InfoModel>

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="col-md-12">
        <a class="btn btn-info" href="@Url.Action("Index", "VkMusic")">Main page</a>

        <hr />
        <div>
            Users: @Model.Count()
            <br />
            Playlists: @Model.Sum(r => r.PlaylistCount)
            <br />
            AudioTracks: @Model.Sum(r => r.TrackCount)
            <br />
        </div>

        <hr />


        <table class="table table-hover">
            <tr class="info">
                <th>
                    User id
                </th>
                <th>
                    Number of playlists
                </th>
                <th>
                    Number of tracks
                </th>
                <th>
                    Playlists
                </th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a href="@string.Format("https://vk.com/id{0}", Html.DisplayFor(modelItem => item.UserId))" target="_blank">
                        @Html.DisplayFor(modelItem => item.UserId)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaylistCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackCount)
                </td>
                <td>
                    @foreach (var playlist in item.Playlists)
                    {
                      <a href="@string.Format("http://vplayliste.azurewebsites.net/VkMusic/Shared/?id={0}", Html.DisplayFor(modelItem => playlist))" target="_blank">
                        @Html.DisplayFor(modelItem => playlist);
                      </a>
                    }
                </td>
            </tr>
            }

        </table>
    </div>
</body>
</html>
