﻿<div class="dialog-master-display-none dialog-master-window" id="dialog-master-container">

    <div id="dialog-master-title" class="dialog-master-title">Title</div>
    <div id="dialog-master-content" class="dialog-master-content">
        <div id="dialog-master-body">
        
        </div>
        <div class="dialog-master-buttons-container">
            <input type="button" class="btn btn-info dialog-master-button" value="Ok" id="dialog-master-button-ok" />
            <input type="button" class="btn btn-info dialog-master-button" value="Cancel" id="dialog-master-button-cancel" />
        </div>
    </div>
</div>

<div id="dialog-master-overlay" class="dialog-master-display-none dialog-master-lock-overlay"></div>